.logo-container{
    z-index: 0;
    width: 300px;
    height: 600px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;

    .solid-logo{
        width: 550px ;
        height: 700px ;
        animation: fadeIn 5s 2.8s backwards ;
    }
}